@use '../../../sass/utils/mixins' as *;

.result-grid {
  width: 100%;
  padding: 30px 15px;

  &.columns {
    display: grid;
    gap: 62px;
    row-gap: 40px;
    justify-content: center;
    grid-template-columns: repeat(1, 264px);

    @media screen and (min-width: 38em) {
      grid-template-columns: repeat(2, 264px);
    }

    @media screen and (min-width: 59em) {
      grid-template-columns: repeat(3, 264px);
    }

    @media screen and (min-width: 80em) {
      grid-template-columns: repeat(4, 264px);
    }
  }

  &__empty {
    text-align: center;
    padding: 3rem;

    .icon {
      width: 3rem;
      height: 3rem;
      margin-bottom: 1rem;
    }
  }
}
