.text-preset-1 {
  font-family: var(--ff);
  font-weight: var(--fw-extrabold);
  font-size: var(--fs-32);
  line-height: 1.375;
  letter-spacing: 0;
}

.text-preset-2 {
  font-family: var(--ff);
  font-weight: var(--fw-extrabold);
  font-size: var(--fs-24);
  line-height: 1.375;
  letter-spacing: 0;
}

.text-preset-3 {
  font-family: var(--ff);
  font-weight: var(--fw-extrabold);
  font-size: var(--fs-18);
  line-height: 1.45;
  letter-spacing: 0;
}

.text-preset-4 {
  font-family: var(--ff);
  font-size: var(--fs-16);
  line-height: 2;
  letter-spacing: 0;

  &.semibold {
    font-weight: var(--fw-semibold);
  }

  &.light {
    font-weight: var(--fw-light);
  }
}

.text-preset-5 {
  font-family: var(--ff);
  font-size: var(--fs-14);
  letter-spacing: 0;

  &.regular {
    font-weight: var(--fw-normal);
    line-height: 1.45;
  }

  &.light {
    font-weight: var(--fw-light);
    line-height: 2.25;
  }
}

.text-preset-6 {
  font-family: var(--ff);
  font-size: var(--fs-12);
  line-height: 1.35;
  letter-spacing: 0;

  &.semibold {
    font-weight: var(--fw-semibold);
  }

  &.regular {
    font-weight: var(--fw-normal);
  }

  &.light {
    font-weight: var(--fw-light);
  }
}

.brd-r-5 {
  border-radius: 5px;
}

.underline {
  text-decoration: underline;
}
