@mixin max-container {
  width: 100%;
  max-width: 1280px;
  margin-inline: auto;
}

@mixin text-preset-1 {
  font-family: var(--ff);
  font-weight: var(--fw-extrabold);
  font-size: var(--fs-32);
  line-height: 1.375;
  letter-spacing: 0;
}

@mixin text-preset-2 {
  font-family: var(--ff);
  font-weight: var(--fw-extrabold);
  font-size: var(--fs-24);
  line-height: 1.375;
  letter-spacing: 0;
}

@mixin text-preset-3 {
  font-family: var(--ff);
  font-weight: var(--fw-extrabold);
  font-size: var(--fs-18);
  line-height: 1.45;
  letter-spacing: 0;
}

@mixin text-preset-4($weight) {
  font-family: var(--ff);
  font-size: var(--fs-16);
  line-height: 2;
  letter-spacing: 0;

  @if $weight == semibold {
    font-weight: var(--fw-semibold);
  } @else if $weight == light {
    font-weight: var(--fw-light);
  }
}

@mixin text-preset-5($weight) {
  font-family: var(--ff);
  font-size: var(--fs-14);
  letter-spacing: 0;

  @if $weight == extrabold {
    font-weight: var(--fw-extrabold);
    line-height: 1.2;
  } @else if $weight == semibold {
    font-weight: var(--fw-semibold);
    line-height: 1.6;
  } @else if $weight == regular {
    font-weight: var(--fw-normal);
    line-height: 1.45;
  } @else if $weight == light {
    font-weight: var(--fw-light);
    line-height: 2.25;
  }
}

@mixin text-preset-6($weight) {
  font-family: var(--ff);
  font-size: var(--fs-12);
  line-height: 1.35;
  letter-spacing: 0;

  @if $weight == semibold {
    font-weight: var(--fw-semibold);
  } @else if $weight == regular {
    font-weight: var(--fw-normal);
  } @else if $weight == light {
    font-weight: var(--fw-light);
  }
}
