@use '../../../sass/utils/mixins' as *;

.detail {
  padding-inline: 15px;
  width: 100%;
  margin-inline: auto;
  max-width: 570px;

  &__icon {
    width: 16px;
    aspect-ratio: 1 / 1;
  }

  &__back {
    @include text-preset-5(light);
    width: 136px;
    border-radius: 2px;
  }

  &__body {
    margin-top: 64px;
    margin-bottom: 20px;
    opacity: 0;
    transform: translateY(10px);
    transition:
      opacity 0.6s ease,
      transform 0.6s ease;
    will-change: opacity, transform;

    &.fade-in {
      opacity: 1;
      transform: translateY(0);
    }
  }

  &__flag {
    width: 100%;
    max-width: 569.78px;
    aspect-ratio: 569.78 / 408;
    background-color: transparent;
    margin-bottom: 40px;
  }

  &__name {
    @include text-preset-2;
    margin-bottom: 16px;
  }

  &__border-countries {
    @include text-preset-4(semibold);
    margin-bottom: 5px;
  }

  &__information {
    margin-bottom: 32px;

    li {
      @include text-preset-5(light);
      line-height: 1.5;

      strong {
        @include text-preset-5(semibold);
        white-space: nowrap;
      }
    }
  }

  &__borders {
    flex-wrap: wrap;
    gap: 26px;
    row-gap: 10px;

    li {
      @include text-preset-6(light);
      padding: 6px 10px;
      min-width: 96px;
      text-align: center;
      cursor: pointer;
    }
  }

  @media screen and (min-width: 48em) {
    &__back {
      @include text-preset-4(light);
    }

    &__name {
      @include text-preset-1;
    }

    &__borders {
      li {
        @include text-preset-5(light);
      }
    }
  }

  @media screen and (min-width: 78em) {
    max-width: 1278px;

    &__body {
      display: flex;
      flex-direction: row;
      gap: 80px;
      justify-content: space-between;
    }

    &__country {
      max-width: 598px;
    }
  }
}
