<main class="detail txt-primary" aria-labelledby="countryTitle">
  <a
    class="detail__back background--inner flex flex-row items-center justify-center gap-2 drop-shadow"
    [routerLink]="['/']"
    [queryParamsHandling]="'preserve'"
    role="button"
    aria-label="Go back to countries list">
    <svg class="detail__icon" aria-hidden="true" focusable="false">
      <use href="assets/icons/sprite.svg#go-back"></use>
    </svg>
    <span>Go Back</span>
  </a>
  @if (country(); as country) {
    <div class="detail__body" appFadeInOnView>
      <img
        class="detail__flag"
        [src]="country.flags.svg"
        [alt]="country.flags.alt"
        width="300"
        height="200"
        loading="lazy" />

      <div class="detail__country">
        <h1 class="detail__name" id="countryTitle">
          {{ country.name.common }}
        </h1>

        <div class="flex flex-col gap-3 sm:flex-row sm:gap-28">
          <ul class="detail__information flex flex-col gap-3" aria-label="Country basic information">
            <li>
              <strong>Native Name:</strong>
              {{ nativeName() }}
            </li>
            <li>
              <strong>Population:</strong>
              {{ country.population | number }}
            </li>
            <li>
              <strong>Region:</strong>
              {{ country.region }}
            </li>
            <li>
              <strong>Sub Region:</strong>
              {{ country.subregion }}
            </li>
            <li>
              <strong>Capital:</strong>
              {{ country.capital.join(', ') }}
            </li>
          </ul>

          <ul class="detail__information flex flex-col gap-3" aria-label="Country additional information">
            <li>
              <strong>Top Level Domain:</strong>
              {{ country.tld.join(', ') }}
            </li>
            <li>
              <strong>Currencies:</strong>
              {{ currencyList() }}
            </li>
            <li>
              <strong>Languages:</strong>
              {{ languageList() }}
            </li>
          </ul>
        </div>

        <!-- Border countries -->
        <div class="detail__border flex flex-col gap-2 md:flex-row">
          <h2 class="detail__border-countries shrink-0 grow-0 md:w-[150px]">Border Countries:</h2>
          <ul
            class="detail__borders flex flex-row items-center justify-items-start"
            aria-label="List of border countries">
            @for (border of country.bordersWithCode; track border) {
              <li
                class="background--inner drop-shadow"
                (click)="navigateToCountry(border.coic)"
                (keydown.enter)="navigateToCountry(border.coic)"
                role="link"
                tabindex="0">
                {{ border.name }}
              </li>
            }
          </ul>
        </div>
      </div>
    </div>
  } @else {
    <h1>Loading ...</h1>
  }
</main>
