@use '../../../sass/utils/mixins' as *;

.header {
  @include max-container;

  margin-bottom: 40px;
  height: 80px;
  padding-inline: 15px;

  &__icon {
    width: 17px;
    aspect-ratio: 1 / 1;
  }

  &__title {
    @include text-preset-5(extrabold);
    white-space: nowrap;
  }

  &__toggle--text {
    @include text-preset-6(semibold);
    white-space: nowrap;
  }

  @media screen and (min-width: 50em) {
    &__title {
      @include text-preset-2;
    }

    &__toggle--text {
      @include text-preset-4(semibold);
    }
  }
}
