@use '../../../sass/utils/mixins' as *;

.country-card {
  opacity: 0;
  transform: translateY(10px);
  transition:
    opacity 0.6s ease,
    transform 0.6s ease;
  will-change: opacity, transform;
  box-shadow: var(--box-shadow);

  &.fade-in {
    opacity: 1;
    transform: translateY(0);
  }

  &:hover,
  &:active {
    transform: scale(1.03);
  }

  width: 100%;
  max-width: 265px;

  &__body {
    padding: 28px;
  }

  &__flag {
    width: 100%;
    aspect-ratio: 264 / 160;
    background: transparent;
  }

  &__name {
    @include text-preset-3;
    margin-bottom: 20px;
  }
  &__info {
    li {
      @include text-preset-5(light);
      line-height: 0;
    }

    strong {
      @include text-preset-5(semibold);
    }
  }
}
