<div class="custom-select" [class.open]="isOpen">
  <button
    class="custom-select__trigger background--inner txt-primary"
    #triggerButton
    [attr.aria-haspopup]="'listbox'"
    [attr.aria-expanded]="isOpen"
    (click)="toggleDropdown()"
    type="button"
    aria-controls="custom-select-options"
    aria-label="Custom select">
    <span class="custom-select__text">
      {{ value || placeholder }}
    </span>
    <span class="custom-select__icon">
      <svg class="custom-select__expand" aria-label="icon expand" role="img">
        <use href="assets/icons/sprite.svg#expand-more" />
      </svg>
    </span>
  </button>

  @if (isOpen) {
    <ul
      class="custom-select__options background--inner txt-primary"
      id="custom-select-options"
      #optionsList
      (keydown)="onKeyDown($event)"
      role="listbox"
      tabindex="0">
      @for (option of options; track option; let idx = $index) {
        <li
          [attr.aria-selected]="option === value"
          [class.selected]="option === value"
          [class.focused]="idx === focusedIndex"
          [attr.tabindex]="idx === focusedIndex ? '0' : '-1'"
          (click)="selectOption(option)"
          (keydown.enter)="selectOption(option)"
          role="option">
          {{ option }}
        </li>
      }
    </ul>
  }
</div>
